<h1>Quiz: Which Power Ranger Are You?</h1>
<form action="/result" method="POST">

	<label for="POST-color">Question 1: What is your favorite color?</label>
	<input type="radio" id="red" name="color" value="Red">Red</input>
	<input type="radio" id="green" name="color" value="Green">Green</input>
	<input type="radio" id="black" name="color" value="Black">Black</input>
	<input type="radio" id="yellow" name="color" value="Yellow">Yellow</input>
	<input type="radio" id="pink" name="color" value="Pink">Pink</input>

	<br/>

	<label for="POST-color">Question 1: What is your favorite color?</label>
	<input type="radio" id="red" name="color" value="Red">Red</input>
	<input type="radio" id="green" name="color" value="Green">Green</input>
	<input type="radio" id="black" name="color" value="Black">Black</input>
	<input type="radio" id="yellow" name="color" value="Yellow">Yellow</input>
	<input type="radio" id="pink" name="color" value="Pink">Pink</input>

	<br/>

	<label for="POST-color">Question 1: What is your favorite color?</label>
	<input type="radio" id="red" name="color" value="Red">Red</input>
	<input type="radio" id="green" name="color" value="Green">Green</input>
	<input type="radio" id="black" name="color" value="Black">Black</input>
	<input type="radio" id="yellow" name="color" value="Yellow">Yellow</input>
	<input type="radio" id="pink" name="color" value="Pink">Pink</input>

	<br/>

	<label for="POST-color">Question 1: What is your favorite color?</label>
	<input type="radio" id="red" name="color" value="Red">Red</input>
	<input type="radio" id="green" name="color" value="Green">Green</input>
	<input type="radio" id="black" name="color" value="Black">Black</input>
	<input type="radio" id="yellow" name="color" value="Yellow">Yellow</input>
	<input type="radio" id="pink" name="color" value="Pink">Pink</input>

	<br/>

	<button type="submit" value="morph">It's Morphin Time!</button>

</form>