<h1>Quiz: Which Power Ranger Are You?</h1>
<form action="/result" method="POST">

	<label for="POST-color">Question 1: What is your favorite color?</label>
	<br/>
	<input type="radio" id="red" name="color" value="Red">Red</input>
	<input type="radio" id="green" name="color" value="Green">Green</input>
	<input type="radio" id="black" name="color" value="Black">Black</input>
	<input type="radio" id="yellow" name="color" value="Yellow">Yellow</input>
	<input type="radio" id="pink" name="color" value="Pink">Pink</input>

	<br/>

	<label for="POST-dinosaur">Question 2: What is your favorite dinosaur?</label>
	<br/>
	<input type="radio" id="green" name="dinosaur" value="Green">Triceratops</input>
	<input type="radio" id="yellow" name="dinosaur" value="Yellow">Pterodactyl</input>
	<input type="radio" id="red" name="dinosaur" value="Red">Tyrannosaurus</input>
	<input type="radio" id="pink" name="dinosaur" value="Pink">Stegasaurus</input>
	<input type="radio" id="black" name="dinosaur" value="Black">Brachiosaurus</input>

	<br/>

	<label for="POST-crush">Question 3: Who is your crush?</label>
	<br/>
	<input type="radio" id="yellow" name="crush" value="Yellow">Black Power Ranger</input>
	<input type="radio" id="red" name="crush" value="Red">Can't decide</input>
	<input type="radio" id="black" name="crush" value="Black">Yellow Power Ranger</input>
	<input type="radio" id="pink" name="crush" value="Pink">Green Power Ranger</input>
	<input type="radio" id="green" name="crush" value="Green">Red Power Ranger</input>

	<br/>

	<label for="why">Question 4: Why are you taking this quiz?</label>
	<br/>
	<input type="radio" id="pink" name="why" value="Pink">Because I feel sorry for whoever wrote it</input>
	<input type="radio" id="black" name="why" value="Black">I'm obsessed with Power Rangers</input>
	<input type="radio" id="yellow" name="why" value="Yellow">I'm procrastinating</input>
	<input type="radio" id="green" name="why" value="Green">I want to get to know myself better </input>
	<input type="radio" id="red" name="why" value="Red">I'm curious</input>

	<br/>

	<button type="submit" value="morph">It's Morphin Time!</button>

</form>