body {
	background-image: url('images/notebook.jpg');
	background-size: 100%;
}

h1 {
	font-family: 'Londrina Outline', cursive;
	font-size: 60px;
	margin-left: 15%;
	margin-bottom: 7%;
	margin-top: 7%;
}

form, p, a {
	margin-left: 15%;
	font-family: 'Architects Daughter', cursive;
	font-size: 20px;
}
